@charset "utf-8";
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
 
  --clr-btn: #94d201;
  --clr-white: #fff;
	--clr-yellow: #f6ef29;
--clr-grey-light: #f0f0f0;
--clr-green: #5b842c;	
--clr-red: #794134;
--clr-orange: #ff9000;
--clr-black: #000;
	--clr-grey: #5a5a5a;
--clr-grey-light2: #d0d0d0;
--clr-milkywhite:#fdffcc;
	--clr-blacktxt:#2c2f30;
--clr-yellow2: #d8ca6d;
--clr-lightblue:#5a82b3;
--clr-darkblue:#333a65	;	
}
html {
	scroll-padding-top: 100px;
  }
body {
	margin: 0px;
	padding: 0px;
	font-family: "Outfit", serif;
	background: linear-gradient(to bottom,#ffe4e1,#fff 10%);
  min-height: 100vh;
  margin: 0;
  overflow-y: scroll;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

h1,h2,h3 {
	font-family: "Outfit", serif;
}
.header {
	padding-top: 0;
	padding-bottom: 1.8rem;
  }
.navmain {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
  .scrolled .navmain {
	background: linear-gradient(to bottom,#ffe4e1,#fff 100%);
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #efefef;

  }
  .scrolled .navbar-brand img {
	width: 30%;
  }
  .header .nav-link,
  .header .navbar-brand,
  .header .navbar-toggler i {
	color: var(--clr-black);
	transition: color 0.2s linear;
  }
  .header .nav-link:hover,
  .header .navbar-brand:hover,
  .header .navbar-toggler i:hover {
	color:var(--clr-btn)
  }
  .header .navbar-brand {
	font-size: 2rem;
	text-align: left;
	margin-top: 10px;
  }
  .header .navbar-toggler {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	right: 2rem;
	
	
  }
  .navbar-nav {
	float: right;
  }
  .header .navbar-toggler i {
	font-size: 1.5rem;
  }
  .header.headroom {
	transition: all 0.2s linear;
  }
  .header.headroom--top, .header.headroom--top.headroom--pinned {
	background-color: transparent;
  }
  .header.headroom--not-top.headroom--pinned {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: rgba(255, 255, 255, 0.9);
  }
  .header.headroom--not-top.headroom--pinned .nav-link,
  .header.headroom--not-top.headroom--pinned .navbar-brand,
  .header.headroom--not-top.headroom--pinned .navbar-toggler i {
	color: black;
  }
  .header.headroom--pinned {
	transform: translateY(0%);
  }
  .header.headroom--unpinned {
	transform: translateY(-100%);
  }
   .fa-close {
	color: var(--clr-black);
	z-index: 15;
   }
   .navbar-toggler:focus {
	box-shadow: 0 0 0 0;
  }
  .nav-link {
	
	font-size:17px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: .8rem;
  }

.navbar-brand img{
width: 40%;
}
.navbar-nav {
	margin-top: 10px;
}
  .ast-button:active, .ast-button:focus, .button:active, .button:focus, button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
	border-color: #eaeaea;
	outline: 0;
	border:0;
  }
  .offcanvas .fa-close {
	font-size: 1.8rem;
  }
  .offcanvas.show .row {
	padding-top: 2rem !important;
  }
  .offcanvas.show .nav-link {
	color: black;
  }
  
  @-webkit-keyframes mouse {
	0% {
	  top: 4px;
	  opacity: 0;
	  height: 4px;
	}
	50% {
	  top: 8px;
	  opacity: 1;
	  height: 10px;
	}
	to {
	  top: 12px;
	  opacity: 0;
	  height: 4px;
	}
  }
@media (min-width: 200px) and (max-width: 768px) {
	.navbar-brand img{
		width: 60%;
		}
		.scrolled {
			background-color: var(--clr-white);
			box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.55);
		  }
		  .scrolled .navmain {
			background-color: var(--clr-white);
			padding-top: 10px;
			padding-bottom: 10px;
			box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.55);
		  }
		  .header .navbar-brand {
			padding-top: 10px!important;
			padding-bottom: 10px!important;
		  }
		  .banner {
			padding-top: 40%;
		}  
		.scrolled .navbar-brand img {
			width: 72%;
		  }
		  .navbar-nav {
			float: left;
		  }
	
}


.banner {
	padding-top: 7%;
}
.slider img {
	width: 80%;
	height: auto;
}
::-moz-focus-inner {
	padding: 0;
	border-style: none;
  }

  .carousel-indicators [data-bs-target] {
	box-sizing: content-box;
	display: block!important;
	width: 8px;
	height: 8px;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color:var(--clr-grey);
	background-clip: padding-box;
	border: 0;
	  border-top-width: 0px;
	  border-top-style: none;
	  border-top-color: currentcolor;
	  border-bottom-width: 0px;
	  border-bottom-style: none;
	  border-bottom-color: currentcolor;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: .5;
	transition: opacity .6s ease;
	border-radius: 100%;
  }
  .carousel-indicators {
	position: absolute;

	z-index: 2;

	justify-content: center;
	padding: 0;

	list-style: none;
	bottom: -50px;
  }
  .carousel-indicators .active {
	background-color: var(--clr-btn);
  }
  .btn-white {
	background-color: var(--clr-white);
	border-radius: 50px!important;
	
	font-size: 20px;
	letter-spacing: .1em;
  }
  .btn-white:hover {
	background-color: var(--clr-yellow2);
	border-radius: 50px!important;
	
	font-size: 20px;
	letter-spacing: .1em;
  }
  .btn-yellow {
	
	background:#e867e6;
	border-radius: 50px!important;

	font-size: 18px;
	
	color: var(--clr-white)!important;
	border:none;
  }
  .btn-yellow:hover {
	background:#8967ef;

	border-radius: 50px!important;
	
	font-size: 18px;
	
	color: var(--clr-white)!important;
	border:none;

  }

  .text-3xl {
	font-size: 30px;
	background: linear-gradient(to right, #4C74F6, #E253E5, #FF7E30);
    color: transparent;
    background-clip: text;
    display: inline-block;
	font-weight: 700;
	padding-top: 4%;

   }

   .sub_title{
	font-size: 40px;
	background: linear-gradient(to right, #4C74F6, #E253E5, #FF7E30);
    color: transparent;
    background-clip: text;
    display: inline-block;
	font-weight: 700;
	text-align: center;


   }
   .post-img img {
	width: 100%;
	height: auto;
   }
   .post-slide {

	margin: 20px;
	border: solid 1px;
	border-color: var(--clr-grey-light2);
	border-radius: 10px;
	padding: 20px;
   }
   .post-img {
	padding: 15%;
   }

   .post-slide i {
	font-size: 40px;
	border:solid 1px;
	border-color: var(--clr-grey);
	border-radius: 100%;
	width: 70px;
	height: 70px;
	padding-top: 12px;
   }
   .height-container {
	display: flex; /* Make the container element behave like a table */
	width: 100%; /* Set full-width to expand the whole page */
  }
  .post-slide  p {
	font-size: 15px;
	margin-bottom: 0;
  }
    .post-slide2  p {
	font-size: 15px;
	margin-bottom: 0;
  }
.txtlink {
	background-color: #fff!important;
	border:0px!important;
	color: var(--clr-red);
	text-decoration: underline;
}
  .height {
	flex: 1; /* Make elements inside the container behave like table cells */
  }
  .eqWrap {
	display: flex;
}

.owl-controls .owl-buttons {
	text-align: center;
	margin-top: 20px;
  }
  .owl-controls .owl-buttons .owl-prev {
	background: #fff;
	position: absolute;
	top: -13%;
	left: 15px;
	padding: 0 18px 0 15px;
	border-radius: 50px;
	box-shadow: 3px 14px 25px -10px #92b4d0;
	transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-next {
	background: #fff;
	position: absolute;
	top: -13%;
	right: 15px;
	padding: 0 15px 0 18px;
	border-radius: 50px;
	box-shadow: -3px 14px 25px -10px #92b4d0;
	transition: background 0.5s ease 0s;
  }
  .owl-controls .owl-buttons .owl-prev:after,
  .owl-controls .owl-buttons .owl-next:after {
	content: "\f104";
	font-family: FontAwesome;
	color: #333;
	font-size: 30px;
  }
  .owl-controls .owl-buttons .owl-next:after {
	content: "\f105";
  }
  
  
	.owl-nav {
	  display: none;
	}
  
	.owl-pagination {
	  text-align: center;
	    margin-top:10px!important;
		margin-bottom: 10px!important;
  }
  .owl-page {
	   display: inline-block;
  }
   .owl-page span {
		position: relative;
		height: 10px;
		width: 10px;
		border-radius: 50%;
		display: flex;
		background-color:var(--clr-grey);
		border: 2px solid ;
	   border-color: var(--clr-grey);
		margin: 0 5px;
		border:0px;
	  }
   .owl-page .active span {
		box-shadow: none;
   }
  .owl-page.active span {
		  background: var(--clr-green)!important;
		  box-shadow: none;
		  height: 12px;
		  width: 12px;
		  margin-bottom: -1px;
		}

		.footersec {
			border-top:solid 1px;
			border-bottom:solid 1px;
			border-color: var(--clr-grey-light2);
			padding: 20px;
		}
.footersec p {
	font-size: 14px;
	color: var(--clr-grey);
	text-align: justify;
}
.footersec li {
	list-style: none;
	padding:5px 0px;
}
.footersec ul {
	list-style: none;
	padding: 0px;
}
.footersec li a{
	color: var(--clr-grey);
	text-decoration: none;
	font-size: 14px;

}
.pr-5 {
	padding-right: 20%;
}
.footersec h5 {
	text-transform: uppercase;
	font-size: 18px;
}
.Copyright {
	color: var(--clr-grey);
	text-decoration: none;
	font-size: 13px;
	text-align: center;
}
@media (min-width: 200px) and (max-width: 768px) {
.text-m-center {
	text-align: center;
}
.text-3xl {

	padding-top:22%;

   }
   .navbar-brand img{
	width: 75%;
	}
}

.col-container {
	display: flex;
	width: 100%;
  }
  .col {
	flex: 1;
	padding: 16px;
	
  }
  .servicebox {
	border:solid 1px;
	border-color: var(--clr-grey-light2);
	border-radius: 10px;
	padding: 20px;
	height: 100%;
  }
  .servicebox_inner {
	background-color: #f2f4ff;
	border-radius: 10px;
	padding: 15px;
	overflow: hidden;
	height: 100%;
  }
  .servicebox_inner .item {
	flex: 3  1;

  }
  .roundimg {
	width: 110px;
	height: 110px;
	border-radius: 100%;
	background-color: var(--clr-white);
	padding: 15px;
	border:solid 1px;
	border-color: var(--clr-grey-light2);
	float: left;
	margin-right: 10px;
  }
  .roundimg img {
	width: 100%;
	height: 100%;
  }
  .btn i {
	font-size: 14px;
	color: var(--clr-blacktxt);
  }
 .align-items-center {
	align-items: center !important;
  }
  .servicebox_inner2 {
	
	border-radius: 10px;
	padding: 15px;
	display: flex;
  }
  .servicebox_inner2 .item {
	flex: 1 2 ;
  }
  .servicebox_inner2 h6 {
	color: var(--clr-grey);
  }
  .img-fluid img {
	width: 100%;
	height: auto;
  }

  .owl-carousel .owl-stage {
	display: flex;
}
.owl-carousel .owl-item {
	display: flex;
	flex: 1 0 auto;
}
.owl-carousel .caption {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}
.owl-carousel .flex-text {
	flex-grow: 1;
}
.owl-carousel .thumbnail {
	display: flex;
	flex-direction: column;
	margin: 0 15px;
}
.owl-wrapper {
	display: flex;
}
.owl-item {
	height: 100%;
	flex: 1;
}
.btnnew {

	background-color: var(--clr-grey-light2);
	border: 0px !important;
	border-radius: 50px;
	padding: 5px 20px;
}
#text, #text2{
	display:none;
	}
@media (min-width: 200px) and (max-width: 768px) {
	.servicebox_inner {
		background-color: #f2f4ff;
		border-radius: 10px;
		padding: 15px;
		display: flex;
		flex-direction: column;
		text-align: center;
	  }
	  .servicebox_inner .item {
		flex: 1  1;
	  }
	  .servicebox_inner2 {
	
		border-radius: 10px;
		padding: 15px;
		display: flex;
		flex-direction: column;
	  }
	  .roundimg {
		margin-bottom: 15px;
	  }
}
.contact {
	padding-top: 10%;
}
.contact-form-wrapper {
	margin: 50px auto;
	
}
.contact-form-wrapper .title {
	margin-bottom: 30px;
}
.contact-form-wrapper h1 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.contact-form-wrapper p {
	font-size: 14px;
	color: #777;
}
.contact-form input {
	border-radius: 0;
	height: 50px;
	font-size: 12px;
	color: #999;
}
.contact-form textarea {
	border-radius: 0;
	font-size: 12px;
	color: #999;
}
.contact-form .submit-button {
	
	color: #fff!important;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}


.main-head {
	 background: #0d1440;
	 box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, .15);
	 padding: 1rem;
	 margin-bottom: 0;
	 margin-top: 5rem;
	 color: #fff;
	 font-weight: 500;
	 text-transform: uppercase;
	 border-radius: 4px;
	 font-size: 16px;
}
 .pricing-table {
	 background: #fff;
	 box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, .15);
	 padding: 2rem;
	 border-radius: 4px;
	 transition: 0.3s;
	 border: solid 1px #9f9f9f;
	 width: 100%;


}
 .pricing-table:hover {
	 box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, .15);
}
 .pricing-table .pricing-label {
	 border-radius: 2px;
	 padding: 0.25rem 0.5rem;
	 margin-bottom: 1rem;
	 display: inline-block;
	 font-size: 12px;
	 font-weight: 500;
}
 .pricing-table .pricing-label-blank {
	 margin-top: calc(26px + 1rem);
}
 .pricing-table h2 {
	 color: #3b3b3b;
	 font-size: 24px;
	 font-weight: 500;
}
 .pricing-table h5 {
	 color: #b3b3b3;
	 font-size: 14px;
	 font-weight: 400;
}
 .pricing-table .pricing-features {
	 margin-top: 2rem;
	 margin-bottom: 3rem;
}
 .pricing-table .pricing-features .feature {
	 font-size: 14px;
	 margin: 0.5rem 0;
	 color: #343434;
}
 .pricing-table .pricing-features .feature span {
	 display: inline-block;
	 float: right;
	 color: #343434;
	 font-weight: 500;
}
.pricing-table p {
	font-size: 12px;
}
 .pricing-table .price-tag {
	 margin-top: 2rem;
	 text-align: center;
	 font-weight: 500;
	
	 margin-left: auto;
	 margin-right: auto;
}
 .pricing-table .price-tag .symbol {
	 font-size: 24px;
}
 .pricing-table .price-tag .amount {
	 letter-spacing: -2px;
	 font-size: 64px;
}
 .pricing-table .price-tag .after {
	 color: #3b3b3b;
	 font-weight: 500;
}
 .pricing-table .price-button {
	 display: block;
	 color: #fff;
	 padding: 0.75rem;
	 border-radius: 2px;
	 text-align: center;
	 font-weight: 500;
	 transition: 0.3s;
	 position: absolute;
	 bottom: 1rem;
	 margin: 0 auto;
	 left: 0;
	 right: 0;
	 margin-left: auto;
	 margin-right: auto;
	 width: 120px;
}
 .pricing-table .price-button:hover {
	 text-decoration: none;
}
 .purple .pricing-label {
	 background: #cad2ff;
	 color: #627afe;
}
 .purple .price-tag {
	 color: #627afe;
}
 .purple .price-button {
	 background: #627afe;
}
 .purple .price-button:hover {
	 background: #546dfe;
}
 .turquoise .pricing-label {
	 background: #d88dd5;
	 color: #000;
}
 .turquoise .price-tag {
	 color: #44cdd2;
}
 .turquoise .price-button {
	 background: #44cdd2;
}
 .turquoise .price-button:hover {
	 background: #2dbcc4;
}
 .red .pricing-label {
	 background: #ffc4c4;
	 color: #ff5e5e;
}
 .red .price-tag {
	 color: #ff5e5e;
}
 .red .price-button {
	 background: #ff5e5e;
}
 .red .price-button:hover {
	 background: #f23c3c;
}
 body {
	 padding: 30px;
}
 .can-toggle {
	 text-align: center;
	 margin: 0 auto;
	/* display: inline-block;
	 */
	 width: 200px;
	 position: relative;
}
 .can-toggle *, .can-toggle *:before, .can-toggle *:after {
	 box-sizing: border-box;
}
 .can-toggle input[type="checkbox"] {
	 opacity: 0;
	 position: absolute;
	 top: 0;
	 left: 0;
}
 .can-toggle input[type="checkbox"][disabled] ~ label {
	 pointer-events: none;
}
 .can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
	 opacity: 0.4;
}
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
	 content: attr(data-unchecked);
	 left: 0;
}
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
	 content: attr(data-checked);
}
 .can-toggle label {
	 user-select: none;
	 position: relative;
	 display: flex;
	 align-items: center;
}
 .can-toggle label .can-toggle__label-text {
	 flex: 1;
	 padding-left: 32px;
}
 .can-toggle label .can-toggle__switch {
	 position: relative;
}
 .can-toggle label .can-toggle__switch:before {
	 content: attr(data-checked);
	 position: absolute;
	 top: 0;
	 text-transform: uppercase;
	 text-align: center;
}
 .can-toggle label .can-toggle__switch:after {
	 content: attr(data-unchecked);
	 position: absolute;
	 z-index: 5;
	 text-transform: uppercase;
	 text-align: center;
	 background: white;
	 transform: translate3d(0, 0, 0);
}
 .can-toggle input[type="checkbox"][disabled] ~ label {
	 color: rgba(119, 119, 119, 0.5);
}
 .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
	 background-color: #833a82;
}
 .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
	 color: #833a82;
}
 .can-toggle input[type="checkbox"]:hover ~ label {
	 color: #833a82;
}
 .can-toggle input[type="checkbox"]:checked ~ label:hover {
	 color: #e867e6;
}
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
	 background-color: #e867e6;
}
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
	 color: #e867e6;
}
 .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
	 background-color: #e867e6;
}
 .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
	 color: #e867e6;
}
 .can-toggle label .can-toggle__label-text {
	 flex: 1;
}
 .can-toggle label .can-toggle__switch {
	 transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
	 background: #848484;
}
 .can-toggle label .can-toggle__switch:before {
	 color: rgba(255, 255, 255, 0.5);
}
 .can-toggle label .can-toggle__switch:after {
	 -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	 transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
	 color: #777;
}
 .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
	 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
 .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
	 transform: translate3d(73px, 0, 0);
}
 .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
	 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
 .can-toggle label {
	 font-size: 14px;
}
 .can-toggle label .can-toggle__switch {
	 height: 36px;
	 flex: 0 0 150px;
	 border-radius: 4px;
}
 .can-toggle label .can-toggle__switch:before {
	 left: 75px;
	 font-size: 12px;
	 line-height: 36px;
	 width: 75px;
	 padding: 0 12px;
}
 .can-toggle label .can-toggle__switch:after {
	 top: 2px;
	 left: 2px;
	 border-radius: 2px;
	 width: 73px;
	 line-height: 32px;
	 font-size: 12px;
}
 .can-toggle label .can-toggle__switch:hover:after {
	 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
 .Onboardmian img {
	width: 100%;
	height: auto;
 }
 .Onboardmian {
	text-align: left;
 }
 .onboarditems {

	justify-content: space-between;
	margin:30px 0px;
 }

 .onboardicon {
	background: #8c64e0;
	float: left;
	text-align: center;
	margin-right: 15px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	padding-top: 8px;
 }
 .onboardicon img{
  width: 80%;
 }

 @media (min-width: 200px) and (max-width: 768px) {

	 .onboardicon {
	background: #8c64e0;
	float: none;
	text-align: center;
	margin-right: 15px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	padding-top: 8px;
 }
.offcanvas-end {
	width: 250px!important;
}

.onboarditems {
  justify-content: space-between;
  margin: 10px 0px;
}
 }

 .accordion-button:not(.collapsed),
.accordion-button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
}
.accordion-button::after {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: var(--bs-danger);
  background-image: none !important;
}
.accordion-button.collapsed::after {
  background-color: var(--bs-gray-300);
}
.owl-carousel .owl-wrapper-outer {
	padding-bottom: 0px;
}

   .sub_title2 a{
	font-size: 20px;
	background: linear-gradient(to right, #4C74F6, #E253E5, #FF7E30);
    color: transparent;
    background-clip: text;
    display: inline-block;
	font-weight: 700;
	text-align: center;


   }
   .onboardtxt {
	margin-top: revert!important;
   }
